name: Deploy client app
on:
  push:
    branches:
      - main
    paths:
      - apps/client/**
      - .github/workflows/client.yml
jobs:
  build:
    name: Build app
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout the repository'
        uses: actions/checkout@v3
        with:
          lfs: 'true'
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.0
      - name: Enable corepack
        run: corepack enable
      - name: Install yarn
        run: corepack prepare yarn@stable --activate
      - name: Install dependencies
        run: yarn install
      - name: Build application
        run: cd client && yarn build
      - name: Publish
        run: |
          cd dist
          npx wrangler pages publish --project-name=catman-swap dist
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_KEY }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
